<!DOCTYPE html>
<html lang="pl_PL">
<head>
</head>
<body>
<br>First name:</br>
<br><input type="text" name="firstname" value="#{user.}"/></br>
<br>Last name:</br>
<br><input type="text" name="lastname" value="Mouse"/></br>
<br>Phone name:</br>
<br><input type="text" name="phone" value="phone"/></br>
<br>Street name:</br>
<br><input type="text" name="street" value="ulica"/></br>
<br>City name:</br>
<br><input type="text" name="city" value="miasto"/></br>
<br></br>
<input type="submit" value="Submit" action =""/>
<input type="reset"/>
</body>
</html>

























<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title></title>-->
<!--</head>-->

<!--</html>-->